<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Gripper Remote Control</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io();

            // Interval function that tests message latency by sending a "ping"
            // message. The server then responds with a "pong" message and the
            // round trip time is measured.
            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                $('#transport').text(socket.io.engine.transport.name);
                socket.emit('ping');
            }, 1000);

            // Handler for the "pong" message. When the pong is received, the
            // time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            socket.on('pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });
            socket.on('video_frame', function (msg) {
                // Obtain a blob URL for the image data.
                var blob = new Blob( [ msg.data ], { type: "image/jpeg" } );
                var urlCreator = window.URL || window.webkitURL;
                var imageUrl = urlCreator.createObjectURL( blob );
                var img = document.getElementById("stream")
                urlCreator.revokeObjectURL(img.src)
                img.src = imageUrl;
                img.classList.remove('hidden')
                document.getElementById('stream-placeholder').classList.add('hidden')
                document.getElementById('servo-slider-0').value = Math.round(msg.slider_values[0] * 100)
                document.getElementById('servo-slider-1').value = Math.round(msg.slider_values[1] * 100)
                document.getElementById('servo-slider-2').value = Math.round(msg.slider_values[2] * 100)
                document.getElementById('servo-slider-3').value = Math.round(msg.slider_values[3] * 100)
            })

            document.addEventListener('keydown', (event) => {
                var codeValue = event.code;
                socket.emit('key_down', {key: codeValue})
            }, false);
            document.addEventListener('keyup', (event) => {
                var codeValue = event.code;
                socket.emit('key_up', {key: codeValue})
            }, false);

            // Update the current slider values (each time you drag a slider handle)
            document.getElementById("stream-quality-slider").oninput = function() {
                socket.emit('adjust_stream_quality', {value: this.value / 100.0})
            }
            document.getElementById("servo-slider-0").oninput = function() {
                socket.emit('set_servo_position', {servo: 0, value: this.value / 100.0})
            }
            document.getElementById("servo-slider-1").oninput = function() {
                socket.emit('set_servo_position', {servo: 1, value: this.value / 100.0})
            }
            document.getElementById("servo-slider-2").oninput = function() {
                socket.emit('set_servo_position', {servo: 2, value: this.value / 100.0})
            }
            document.getElementById("servo-slider-3").oninput = function() {
                socket.emit('set_servo_position', {servo: 3, value: this.value / 100.0})
            }
        });
    </script>
</head>
<body>
<div class="header">
    <img id="cares-image" src="{{ url_for('static', filename='cares.png') }}">
    <span id="headline">
        <h1> Gripper Remote Control </h1>
        <div class="tooltip">
            <img src="{{ url_for('static', filename='help.svg') }}">
            <div class="tooltiptext">
                <p>Small tool for remote controlling the CARES Gripper by hand</p>
                <p>Use quality slider to reduce stream quality for better performance</p>
                <p>Gripper can be controlled using the sliders or by pressing the specified keys</p>
                <p>Press "H" to return to home position</p>
                <p>Known bugs:</p>
                <ul>
                    <li>Gripper sometimes crashes. Although the application tries to restart it, this does not work always. If this occurs, please restart the application</li>
                </ul>
            </div>
        </div>
    </span>
    <img id="uoa-image" src="{{ url_for('static', filename='uoa.png') }}">
</div>
<div id="content">
    <div id="stream-container">
        <img id="stream" src="" class="hidden">
        <div id="stream-placeholder">
            <h1>Loading</h1>
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
        <div id="ping-container">
            <div id="ping" class="overlay">
                Ping: <span id="ping-pong"></span>
            </div>
        </div>
        <div id="adjust-stream-quality-container" class="overlay bold">
            <span>Quality: </span>
            <input type="range" min="1" max="100" value="25" class="slider" id="stream-quality-slider">
        </div>
        <div id="control-slider-container">
            <div class="control-slider-row">
                <div class="labeled-slider">
                    <span style="left: 5px">D</span>
                    <input type="range" min="1" max="100" value="25" class="slider" id="servo-slider-0">
                    <span style="right: 5px">E</span>
                </div>
                <div class="labeled-slider">
                    <span style="left: 5px">I</span>
                    <input type="range" min="1" max="100" value="25" class="slider" id="servo-slider-1">
                    <span style="right: 5px">K</span>
                </div>
            </div>
            <div class="control-slider-row">
                <div class="labeled-slider">
                    <span style="left: 5px">S</span>
                    <input type="range" min="1" max="100" value="25" class="slider" id="servo-slider-2">
                    <span style="right: 5px">F</span>
                </div>
                <div class="labeled-slider">
                    <span style="left: 5px">J</span>
                    <input type="range" min="1" max="100" value="25" class="slider" id="servo-slider-3">
                    <span style="right: 5px">L</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
